interactions:
- request:
    body: '{"origin": "e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.digitaloceanspaces.com",
      "ttl": 1800, "certificate_id": null, "custom_domain": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/cdn/endpoints
  response:
    content: '{"endpoint":{"id":"0abae211-010d-4212-8328-97474a1711fa","origin":"e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.digitaloceanspaces.com","endpoint":"e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.cdn.digitaloceanspaces.com","created_at":"2020-06-03T10:54:55Z","ttl":1800}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4991'
      Ratelimit-Reset:
      - '1591181694'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 201
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/cdn/endpoints/0abae211-010d-4212-8328-97474a1711fa
  response:
    content: '{"endpoint":{"id":"0abae211-010d-4212-8328-97474a1711fa","origin":"e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.digitaloceanspaces.com","endpoint":"e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.cdn.digitaloceanspaces.com","created_at":"2020-06-03T10:54:55Z","ttl":1800}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4990'
      Ratelimit-Reset:
      - '1591181694'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/cdn/endpoints?per_page=200
  response:
    content: '{"endpoints":[{"id":"0abae211-010d-4212-8328-97474a1711fa","origin":"e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.digitaloceanspaces.com","endpoint":"e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.cdn.digitaloceanspaces.com","created_at":"2020-06-03T10:54:55Z","ttl":1800}],"meta":{"total":1}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4989'
      Ratelimit-Reset:
      - '1591181694'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
[...]
- request:
    body: '{"ttl": 600, "certificate_id": null, "custom_domain": null}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.digitalocean.com/v2/cdn/endpoints/0abae211-010d-4212-8328-97474a1711fa
  response:
    content: '{"endpoint":{"id":"0abae211-010d-4212-8328-97474a1711fa","origin":"e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.digitaloceanspaces.com","endpoint":"e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.cdn.digitaloceanspaces.com","created_at":"2021-05-29T14:25:12Z","ttl":600}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '30'
      Ratelimit-Remaining:
      - '29'
      Ratelimit-Reset:
      - '1622298799'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: '{"files": ["testfile.txt"]}'
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/cdn/endpoints/0abae211-010d-4212-8328-97474a1711fa/cache
  response:
    content: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '30'
      ratelimit-remaining:
      - '29'
      ratelimit-reset:
      - '1622299454'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 204
- request:
    body: '{"files": ["*"]}'
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/cdn/endpoints/0abae211-010d-4212-8328-97474a1711fa/cache
  response:
    content: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '30'
      ratelimit-remaining:
      - '29'
      ratelimit-reset:
      - '1622299564'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 204
version: 1
