interactions:
- request:
    body: '{"origin": "e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.digitaloceanspaces.com",
      "ttl": 1800, "certificate_id": null, "custom_domain": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/cdn/endpoints
  response:
    body:
      string: '{"endpoint":{"id":"1943c0dd-1a9c-4e23-a451-f64b1c219ff5","origin":"e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.digitaloceanspaces.com","endpoint":"e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.cdn.digitaloceanspaces.com","created_at":"2020-06-03T10:54:55Z","ttl":1800}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4991'
      Ratelimit-Reset:
      - '1591181694'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/cdn/endpoints/1943c0dd-1a9c-4e23-a451-f64b1c219ff5
  response:
    body:
      string: '{"endpoint":{"id":"1943c0dd-1a9c-4e23-a451-f64b1c219ff5","origin":"e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.digitaloceanspaces.com","endpoint":"e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.cdn.digitaloceanspaces.com","created_at":"2020-06-03T10:54:55Z","ttl":1800}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4990'
      Ratelimit-Reset:
      - '1591181694'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/cdn/endpoints?per_page=200
  response:
    body:
      string: '{"endpoints":[{"id":"1943c0dd-1a9c-4e23-a451-f64b1c219ff5","origin":"e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.digitaloceanspaces.com","endpoint":"e183e06c-0252-4e0c-85bb-2fe17eb87169.ams3.cdn.digitaloceanspaces.com","created_at":"2020-06-03T10:54:55Z","ttl":1800}],"meta":{"total":1}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4989'
      Ratelimit-Reset:
      - '1591181694'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/cdn/endpoints/1943c0dd-1a9c-4e23-a451-f64b1c219ff5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4988'
      Ratelimit-Reset:
      - '1591181694'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status:
      code: 204
      message: No Content
version: 1
