interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/account
  response:
    body:
      string: '{"account":{"droplet_limit":25,"floating_ip_limit":3,"volume_limit":100,"email":"yuri@balandin.ru","uuid":"4775b5b8ef10a1069ddae8b81a425222e8cea930","email_verified":true,"status":"active","status_message":""}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4996'
      Ratelimit-Reset:
      - '1590593959'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/customers/my/balance
  response:
    body:
      string: '{"month_to_date_balance":"2.42","account_balance":"0.00","month_to_date_usage":"2.42","generated_at":"2020-06-02T07:14:25Z"}'
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Content-Type:
      - application/grpc
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4998'
      Ratelimit-Reset:
      - '1591209678'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/customers/my/billing_history?per_page=200
  response:
    body:
      string: '{"billing_history":[{"description":"Payment (Visa 0015)","amount":"-25.75","date":"2020-06-01T09:06:14Z","type":"Payment"}],"links":{},"meta":{"total":1}}'
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Content-Type:
      - application/grpc
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4997'
      Ratelimit-Reset:
      - '1591209678'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status:
      code: 200
      message: OK
version: 1
