interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/account
  response:
    content: '{"account":{"droplet_limit":25,"floating_ip_limit":3,"volume_limit":100,"email":"yuri@balandin.ru","uuid":"4775b5b8ef10a1069ddae8b81a425222e8cea930","email_verified":true,"status":"active","status_message":""}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4998'
      Ratelimit-Reset:
      - '1621961295'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/customers/my/billing_history?per_page=200
  response:
    content: '{"billing_history":[{"description":"Payment (Visa 0015)","amount":"-91.86","date":"2021-05-01T03:13:00Z","type":"Payment"},{"description":"Invoice
      for April 2021","amount":"91.86","invoice_id":"424813944","invoice_uuid":"3873945f-6040-41ad-9271-541d6258cae2","date":"2021-05-01T03:08:28Z","type":"Invoice"},{"description":"Payment
      (Visa 0015)","amount":"-29.63","date":"2021-04-01T14:03:16Z","type":"Payment"},{"description":"Invoice
      for March 2021","amount":"29.63","invoice_id":"423795897","invoice_uuid":"17c9df78-bbb3-4d64-b9a5-c9a5b6d51277","date":"2021-04-01T06:45:44Z","type":"Invoice"},{"description":"Payment
      (Visa 0015)","amount":"-25.82","date":"2021-03-01T08:09:30Z","type":"Payment"},{"des[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/customers/my/balance
  response:
    content: '{"month_to_date_balance":"55.50","account_balance":"0.00","month_to_date_usage":"55.50","generated_at":"2021-05-26T03:15:12Z"}'
    headers:
      Content-Type:
      - application/json
      grpc-metadata-content-type:
      - application/grpc
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4987'
      ratelimit-reset:
      - '1622062489'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
version: 1
