interactions:
- request:
    body: '{"name": "dolib-test-registry", "subscription_tier_slug": "basic"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/registry
  response:
    content: '{"registry":{"name":"test","created_at":"2021-04-05T11:17:50Z","storage_usage_bytes":1527814144,"storage_usage_updated_at":"2021-05-29T10:27:19Z","read_only":false},"subscription":{"tier":{"name":"Basic","slug":"basic","included_repositories":5,"included_storage_bytes":5368709120,"allow_storage_overage":true,"included_bandwidth_bytes":5368709120,"monthly_price_in_cents":500,"storage_overage_price_in_cents":2},"created_at":"2021-04-05T11:17:50Z","updated_at":"2021-04-05T11:17:50Z"}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4995'
      Ratelimit-Reset:
      - '1622478270'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 201
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/registry/docker-credentials
  response:
    content: '{"auths":{"registry.digitalocean.com":{"auth":"MTRhOWI3NjUzYTg5NmVkYWY2ODIxNzgyNmE3YTdiZWE0NTJhM2FiYTcwNTYxNjAyNTljZmNhZWI1NTllYmVjYzoxNGE5Yjc2NTNhODk2ZWRhZjY4MjE3ODI2YTdhN2JlYTQ1MmEzYWJhNzA1NjE2MDI1OWNmY2FlYjU1OWViZWNj"}}}'
    headers:
      Content-Disposition:
      - attachment; filename=docker-config.json
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4991'
      Ratelimit-Reset:
      - '1622478270'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/registry/docker-credentials?expiry_seconds=600&read_write=true
  response:
    content: '{"auths":{"registry.digitalocean.com":{"auth":"MDVjY2ZiN2Q2OGFkNmQwNWMyNDg1NWM5NmUxM2FkMTUzZjJjNzliNmFmMGVhYjhmZDNkNjYxZjEyZGVjYjg0YzowNWNjZmI3ZDY4YWQ2ZDA1YzI0ODU1Yzk2ZTEzYWQxNTNmMmM3OWI2YWYwZWFiOGZkM2Q2NjFmMTJkZWNiODRj"}}}'
    headers:
      Content-Disposition:
      - attachment; filename=docker-config.json
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4990'
      Ratelimit-Reset:
      - '1622478270'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: '{"name": "test", "subscription_tier_slug": "basic"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/registry/validate-name
  response:
    content: '{"id":"conflict","message":"name already exists"}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4989'
      ratelimit-reset:
      - '1622478270'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 409
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/registry/test/repositories?per_page=200
  response:
    content: '{"repositories":[{"registry_name":"test","name":"test_django","latest_tag":{"registry_name":"test","repository":"test_django","tag":"test","manifest_digest":"sha256:76f4985a77b02c8393815a99a39e6b9510d866b59237e1acf942d17fe193cd29","compressed_size_bytes":327219687,"size_bytes":1052593673,"updated_at":"2021-05-31T17:26:40Z"},"tag_count":1},{"registry_name":"test","name":"test_django","latest_tag":{"registry_name":"test","repository":"test_django","tag":"latest","manifest_digest":"sha256:a9d925e23ecb410957a23c6dc072a70e41e6a606ac774deca081b2645e5c3946","compressed_size_bytes":350756175,"size_bytes":1050074624,"updated_at":"2021-04-05T22:10:24Z"},"tag_count":1}],"meta":{"total":2}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4984'
      ratelimit-reset:
      - '1622478735'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/registry/test/repositories/test_django/tags?per_page=200
  response:
    content: '{"tags":[{"registry_name":"test","repository":"test_django","tag":"test","manifest_digest":"sha256:76f4985a77b02c8393815a99a39e6b9510d866b59237e1acf942d17fe193cd29","compressed_size_bytes":327219687,"size_bytes":1052593673,"updated_at":"2021-05-31T17:26:44Z"}],"meta":{"total":1}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4983'
      ratelimit-reset:
      - '1622478735'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/registry/test/repositories/test_django/tags/test
  response:
    content: ''
    headers:
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4984'
      Ratelimit-Reset:
      - '1622478853'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 204
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/registry/test/repositories/test_django/digests/sha256:76f4985a77b02c8393815a99a39e6b9510d866b59237e1acf942d17fe193cd29
  response:
    content: ''
    headers:
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4984'
      ratelimit-reset:
      - '1622478924'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 204
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/registry/test/garbage-collection
  response:
    content: '{"garbage_collection":{"uuid":"c82a77b7-6860-428e-9508-b2d80e5c076e","registry_name":"test","created_at":"2021-05-31T17:34:32.307196484Z","updated_at":"2021-05-31T17:34:32.307196484Z","status":"requested","type":"unreferenced
      blobs only","blobs_deleted":0,"freed_bytes":0}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4983'
      Ratelimit-Reset:
      - '1622478924'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 201
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/registry
  response:
    content: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4980'
      ratelimit-reset:
      - '1622311140'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 204
version: 1
