repos:
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    - id: black
      language_version: python3.6
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.16
    hooks:
    - id: isort
      language_version: python3.6
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
    - id: flake8
      language_version: python3.6
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.770 
    hooks:
    -   id: mypy
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-docstring-first
    - id: check-yaml
    - id: debug-statements
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.9.0
    hooks:
    - id: setup-cfg-fmt
