interactions:
- request:
    body: '{"name": "test.dolib.io"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/domains
  response:
    content: '{"domain":{"name":"test.dolib.io","ttl":null,"zone_file":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c4519eed580d156e5668a58696ea51a9"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4965'
      Ratelimit-Reset:
      - '1590664532'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 201
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/domains/test.dolib.io
  response:
    content: '{"domain":{"name":"test.dolib.io","ttl":1800,"zone_file":"$ORIGIN test.dolib.io.\n$TTL
        1800\ntest.dolib.io. IN SOA ns1.digitalocean.com. hostmaster.test.dolib.io.
        1590668120 10800 3600 604800 1800\ntest.dolib.io. 1800 IN NS ns1.digitalocean.com.\ntest.dolib.io.
        1800 IN NS ns2.digitalocean.com.\ntest.dolib.io. 1800 IN NS ns3.digitalocean.com.\n"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11f7f66c7c903a08b05a545b1ad74fa2"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4964'
      Ratelimit-Reset:
      - '1590664532'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/domains/test.dolib.io
  response:
    content: ''
    headers:
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4963'
      Ratelimit-Reset:
      - '1590664532'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 204
version: 1
