interactions:
- request:
    body: '{"name": "test-records.dolib.io"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/domains
  response:
    content: '{"domain":{"name":"test-records.dolib.io","ttl":null,"zone_file":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cf22a2ed12e90c65f15939e29422d252"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4953'
      Ratelimit-Reset:
      - '1590665794'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 201
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/domains/test-records.dolib.io/records?per_page=200
  response:
    content: '{"domain_records":[{"id":101021304,"type":"SOA","name":"@","data":"1800","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":101021305,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":101021306,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":101021308,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}],"links":{},"meta":{"total":4}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"72befcebeb7a584e434e84d591736115"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4952'
      Ratelimit-Reset:
      - '1590665794'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: '{"id": null, "type": "A", "name": "@", "data": "8.8.8.8", "priority": null,
      "port": null, "ttl": null, "weight": null, "flags": null, "tag": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/domains/test-records.dolib.io/records
  response:
    content: '{"domain_record":{"id":101021310,"type":"A","name":"@","data":"8.8.8.8","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6592a43058e55344d70666d6e60119ae"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4951'
      Ratelimit-Reset:
      - '1590665794'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 201
- request:
    body: '{"id": 101021310, "type": "A", "name": "test", "data": "8.8.8.8", "priority":
      null, "port": null, "ttl": 60, "weight": null, "flags": null, "tag": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.digitalocean.com/v2/domains/test-records.dolib.io/records/101021310
  response:
    content: '{"domain_record":{"id":101021310,"type":"A","name":"test","data":"8.8.8.8","priority":null,"port":null,"ttl":60,"weight":null,"flags":null,"tag":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38fd1fbd37c887ab6c82844dc55df9b5"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4950'
      Ratelimit-Reset:
      - '1590665794'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/domains/test-records.dolib.io
  response:
    content: ''
    headers:
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4948'
      Ratelimit-Reset:
      - '1590665794'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 204
version: 1
