interactions:
- request:
    body: '{"name": "test.dolib.io"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/domains
  response:
    content: '{"domain":{"name":"test.dolib.io","ttl":null,"zone_file":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"c4519eed580d156e5668a58696ea51a9"
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4988'
      ratelimit-reset:
      - '1622401618'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 201
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/domains/test.dolib.io
  response:
    content: '{"domain":{"name":"test.dolib.io","ttl":1800,"zone_file":"$ORIGIN test.dolib.io.\n$TTL
      1800\ntest.dolib.io. IN SOA ns1.digitalocean.com. hostmaster.test.dolib.io.
      1622404748 10800 3600 604800 1800\ntest.dolib.io. 1800 IN NS ns1.digitalocean.com.\ntest.dolib.io.
      1800 IN NS ns2.digitalocean.com.\ntest.dolib.io. 1800 IN NS ns3.digitalocean.com.\n"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"84d7ec97136f9fc5dcf00fffe35c02e7"
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4987'
      ratelimit-reset:
      - '1622401618'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
- request:
    body: '{"id": null, "type": "A", "name": "@", "data": "8.8.8.8", "priority": null,
      "port": null, "ttl": null, "weight": null, "flags": null, "tag": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/domains/test.dolib.io/records
  response:
    content: '{"domain_record":{"id":152363231,"type":"A","name":"@","data":"8.8.8.8","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4985'
      ratelimit-reset:
      - '1622401618'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 201
- request:
    body: '{"id": 152363231, "type": "A", "name": "test", "data": "8.8.8.8", "priority":
      null, "port": null, "ttl": 60, "weight": null, "flags": null, "tag": null}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.digitalocean.com/v2/domains/test.dolib.io/records/152363231
  response:
    content: '{"domain_record":{"id":152363231,"type":"A","name":"test","data":"8.8.8.8","priority":null,"port":null,"ttl":60,"weight":null,"flags":null,"tag":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c9f0ffedc688124361a25b7739cd3383"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4984'
      Ratelimit-Reset:
      - '1622401618'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/domains/test.dolib.io/records?per_page=200
  response:
    content: '{"domain_records":[{"id":152362729,"type":"SOA","name":"@","data":"1800","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":152362730,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":152362731,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":152362732,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":152363231,"type":"A","name":"test","data":"8.8.8.8","priority":null,"port":null,"ttl":60,"weight":null,"flags":null,"tag":null}],"links":{},"meta":{"total":5}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4983'
      Ratelimit-Reset:
      - '1622401618'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/domains?per_page=200
  response:
    content: '{"domains":[{"name":"test.dolib.io","ttl":1800,"zone_file":"$ORIGIN test.dolib.io.\n$TTL 1800\ntest.dolib.io. IN SOA ns1.digitalocean.com. hostmaster.test.dolib.io. 1622404940 10800 3600 604800 1800\ntest.test.dolib.io. 60 IN A 8.8.8.8\ntest.dolib.io. 1800 IN NS ns1.digitalocean.com.\ntest.dolib.io. 1800 IN NS ns2.digitalocean.com.\ntest.dolib.io. 1800 IN NS ns3.digitalocean.com.\n"}],"links":{},"meta":{"total":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"060aa29104259d9cdcd14ffc9e63f2dc"
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4980'
      ratelimit-reset:
      - '1622401618'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/domains/test.dolib.io/records?name=%40&type=A&per_page=200
  response:
    content: '{"domain_records":[],"links":{},"meta":{"total":0}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4979'
      ratelimit-reset:
      - '1622401618'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/domains/test.dolib.io/records?name=test.test.dolib.io&type=A&per_page=200
  response:
    content: '{"domain_records":[{"id":152363231,"type":"A","name":"test","data":"8.8.8.8","priority":null,"port":null,"ttl":60,"weight":null,"flags":null,"tag":null}],"links":{},"meta":{"total":1}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4976'
      Ratelimit-Reset:
      - '1622401721'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/domains/test.dolib.io
  response:
    content: ''
    headers:
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4975'
      Ratelimit-Reset:
      - '1622403600'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 204
version: 1
