interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/account
  response:
    content: '{"account":{"droplet_limit":25,"floating_ip_limit":3,"volume_limit":100,"email":"yuri@balandin.ru","uuid":"4775b5b8ef10a1069ddae8b81a425222e8cea930","email_verified":true,"status":"active","status_message":""}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4999'
      Ratelimit-Reset:
      - '1622144388'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/droplets?per_page=200
  response:
    content: '{"droplets":[{"id":247579526,"name":"dolib-droplet","memory":1024,"vcpus":1,"disk":25,"locked":false,"status":"new","kernel":null,"created_at":"2021-05-25T16:50:47Z","features":["private_networking"],"backup_ids":[],"next_backup_window":null,"snapshot_ids":[],"image":{"id":83501654,"name":"18.04
      (LTS) x64","distribution":"Ubuntu","slug":"ubuntu-18-04-x64","public":true,"regions":["nyc3","nyc1","sfo1","nyc2","ams2","sgp1","lon1","ams3","fra1","tor1","sfo2","blr1","sfo3"],"created_at":"2021-05-05T17:58:17Z","min_disk_size":15,"type":"base","size_gigabytes":0.34,"description":"Ubuntu
      18.04 x86 image","tags":[],"status":"available"},"volume_ids":[],"size":{"slug":"s-1vcpu-1gb","memory":1024,"vcpus":1,"disk":25,"transfer":1.0,"price_monthly":5.0,"price_hourly":0.00744,"regions":["ams2","ams3","blr1","fra1","lon1","nyc1","nyc2","nyc3","sfo1","sfo3","sgp1","tor1"],"available":true,"description":"Basic"},"size_slug":"s-1vcpu-1gb","networks":{"v4":[{"ip_address":"10.135.125.214","netmask":"255.255.0.0","gateway":"","type":"private"},{"ip_address":"46.101.238.104","netmask":"255.255.192.0","gateway":"46.101.192.1","type":"public"}],"v6":[]},"region":{"name":"Frankfurt
      1","slug":"fra1","features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"available":true,"sizes":["s-1vcpu-1gb","s-1vcpu-1gb-amd","s-1vcpu-1gb-intel","s-1vcpu-2gb","s-1vcpu-2gb-amd","s-1vcpu-2gb-intel","s-2vcpu-2gb","s-2vcpu-2gb-amd","s-2vcpu-2gb-intel","s-2vcpu-4gb","s-2vcpu-4gb-amd","s-2vcpu-4gb-intel","s-4vcpu-8gb","c-2","c2-2vcpu-4gb","s-4vcpu-8gb-amd","s-4vcpu-8gb-intel","g-2vcpu-8gb","gd-2vcpu-8gb","s-8vcpu-16gb","m-2vcpu-16gb","c-4","c2-4vcpu-8gb","s-8vcpu-16gb-amd","s-8vcpu-16gb-intel","m3-2vcpu-16gb","g-4vcpu-16gb","so-2vcpu-16gb","m6-2vcpu-16gb","gd-4vcpu-16gb","so1_5-2vcpu-16gb","m-4vcpu-32gb","c-8","c2-8vcpu-16gb","m3-4vcpu-32gb","g-8vcpu-32gb","so-4vcpu-32gb","m6-4vcpu-32gb","gd-8vcpu-32gb","so1_5-4vcpu-32gb","m-8vcpu-64gb","c-16","c2-16vcpu-32gb","m3-8vcpu-64gb","g-16vcpu-64gb","so-8vcpu-64gb","m6-8vcpu-64gb","gd-16vcpu-64gb","so1_5-8vcpu-64gb","m-16vcpu-128gb","c-32","c2-32vcpu-64gb","m3-16vcpu-128gb","m-24vcpu-192gb","g-32vcpu-128gb","so-16vcpu-128gb","m6-16vcpu-128gb","gd-32vcpu-128gb","m3-24vcpu-192gb","g-40vcpu-160gb","so1_5-16vcpu-128gb","m-32vcpu-256gb","gd-40vcpu-160gb","so-24vcpu-192gb","m6-24vcpu-192gb","m3-32vcpu-256gb","so1_5-24vcpu-192gb","so-32vcpu-256gb","m6-32vcpu-256gb","so1_5-32vcpu-256gb"]},"tags":[],"vpc_uuid":"b21d4ee5-5e72-4056-b6f2-82e364789990"}],"links":{},"meta":{"total":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4998'
      Ratelimit-Reset:
      - '1622144388'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/kubernetes/clusters?per_page=200
  response:
    content: '{"kubernetes_clusters": [],"meta":{"total":0},"links":{}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4997'
      ratelimit-reset:
      - '1622144388'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/firewalls?per_page=200
  response:
    content: '{"firewalls":null,"links":{},"meta":{"total":0}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4996'
      Ratelimit-Reset:
      - '1622145398'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/fake_links?per_page=200
  response:
    content: '{"fake_links":{"id":247579526,"name":"dolib-droplet","memory":1024,"vcpus":1,"disk":25,"locked":false,"status":"new","kernel":null,"created_at":"2021-05-25T16:50:47Z","features":["private_networking"],"backup_ids":[],"next_backup_window":null,"snapshot_ids":[],"image":{"id":83501654,"name":"18.04
      (LTS) x64","distribution":"Ubuntu","slug":"ubuntu-18-04-x64","public":true,"regions":["nyc3","nyc1","sfo1","nyc2","ams2","sgp1","lon1","ams3","fra1","tor1","sfo2","blr1","sfo3"],"created_at":"2021-05-05T17:58:1[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/fake_links?page=2&per_page=200
  response:
    content: '{"fake_links":[{"id":247579526,"name":"dolib-droplet","memory":1024,"vcpus":1,"disk":25,"locked":false,"status":"new","kernel":null,"created_at":"2021-05-25T16:50:47Z","features":["private_networking"],"backup_ids":[],"next_backup_window":null,"snapshot_ids":[],"image":{"id":83501654,"name":"18.04
     [...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/non_existent_page?per_page=200
  response:
    content: '{"id":"not_found","message":"The resource you were accessing could not
      be found."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4999'
      ratelimit-reset:
      - '1622228201'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 404
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/account/keys
  response:
    content: '{"ssh_keys":[],"links":{},"meta":{"total":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21dabda8b68afe2f65029929d2df7d34"
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
version: 1
