interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/customers/my/invoices?per_page=200
  response:
    body:
      string: '{"invoices":[{"invoice_uuid":"34ad0122-a596-11ea-af93-7085c23b1dcb","amount":"25.75","invoice_period":"2020-05"}],"invoice_preview":{"invoice_uuid":"9db0cd20-a596-11ea-af93-7085c23b1dcb","amount":"2.42","invoice_period":"2020-06","updated_at":"2020-06-03T03:05:51Z"},"links":{},"meta":{"total":2}}'
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Content-Type:
      - application/grpc
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4948'
      Ratelimit-Reset:
      - '1591183995'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/customers/my/invoices/34ad0122-a596-11ea-af93-7085c23b1dcb/summary
  response:
    body:
      string: '{"invoice_uuid":"34ad0122-a596-11ea-af93-7085c23b1dcb","billing_period":"2020-05","issue_date":"2020-06-01","invoice_generated_at":"2020-06-01T07:06:24Z","amount":"25.75","user_name":"Yuri Balandin","user_billing_address":{"address_line1":"***","city":"Moscow","region":"Moscow","postal_code":"111000","country_iso2_code":"RU","created_at":"2019-06-28T17:23:59.000+00:00","updated_at":"2019-06-28T17:23:59.000+00:00"},"user_email":"yuri@balandin.ru","product_charges":{"name":"Product usage charges","amount":"21.46","items":[{"amount":"20.63","name":"Droplets","count":"4"},{"amount":"0.09","name":"Volumes","count":"6"},{"amount":"0.55","name":"Droplet Snapshots","count":"2"},{"amount":"0.01","name":"Volume Snapshots","count":"1"},{"amount":"0.03","name":"Load Balancers","count":"1"},{"amount":"0.03","name":"Spaces Subscription","count":"1"},{"amount":"0.08","name":"Database Clusters","count":"3"},{"amount":"0.01","name":"Database Clusters","count":"1"},{"amount":"0.03","name":"Kubernetes Clusters","count":"2"}]},"overages":{"name":"Overages","amount":"0.00"},"taxes":{"name":"Taxes","amount":"4.29","items":[{"amount":"4.29","name":"Taxes","count":"1"}]},"credits_and_adjustments":{"name":"Credits \u0026 adjustments","amount":"0.00"}}'
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Content-Type:
      - application/grpc
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4947'
      Ratelimit-Reset:
      - '1591183995'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/customers/my/invoices/34ad0122-a596-11ea-af93-7085c23b1dcb?per_page=200
  response:
    body:
      string: '{"invoice_items":[{"product":"Kubernetes Clusters","resource_uuid":"dcab673e-d07e-4ba3-949a-d53eceb80297","group_description":"test1","description":"1 node - 2 GB / 1 vCPU / 50 GB SSD","amount":"0.01","duration":"0","duration_unit":"Hours","start_time":"2020-05-29T20:52:00Z","end_time":"2020-05-29T21:00:45Z","project_name":"dolib.io"},{"product":"Kubernetes Clusters","resource_uuid":"3b0d7c9f-8039-4bdf-956f-03b7a2a34504","group_description":"test1","description":"2 nodes - 2 GB / 1 vCPU / 50 GB SSD","amount":"0.02","duration":"1","duration_unit":"Hours","start_time":"2020-05-29T19:24:38Z","end_time":"2020-05-29T20:54:56Z","project_name":"dolib.io"},{"product":"Database Clusters","resource_uuid":"8e13cbed-4656-4e61-904d-39b0ade1ac33","group_description":"test (PostgreSQL)","description":"Read Only Node - 1 GB / 1 v[...]
