interactions:
- request:
    body: '{"name": "dolib-test-cluster", "region": "fra1", "version": "1.20.2-do.0",
      "node_pools": [{"id": null, "size": "s-1vcpu-2gb", "name": "test-nodes", "count":
      1, "tags": null, "labels": null, "auto_scale": null, "min_nodes": null, "max_nodes":
      null, "nodes": null}], "auto_upgrade": null, "vpc_uuid": null, "tags": null,
      "maintenance_policy": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/kubernetes/clusters
  response:
    content: '{"kubernetes_cluster":{"id":"4562853d-b0f8-4d46-aa00-e1804e59ffb0","name":"dolib-test-cluster","region":"fra1","version":"1.20.2-do.0","cluster_subnet":"10.244.0.0/16","service_subnet":"10.245.0.0/16","vpc_uuid":"b21d4ee5-5e72-4056-b6f2-82e364789990","ipv4":"","endpoint":"","tags":["k8s","k8s:4562853d-b0f8-4d46-aa00-e1804e59ffb0"],"node_pools":[{"id":"d26dda82-cb52-4204-a7cd-dd9838165450","name":"test-nodes","size":"s-1vcpu-2gb","count":1,"tags":["k8s","k8s:4562853d-b0f8-4d46-aa00-e1804e59ffb0","k8s:worker"],"labels":null,"taints":[],"auto_scale":false,"min_nodes":0,"max_nodes":0,"nodes":[{"id":"834671d1-03ac-4ee9-bf26-894351c5d416","name":"","status":{"state":"provisioning"},"droplet_id":"","created_at":"2021-05-31T20:14:56Z","updated_at":"2021-05-31T20:14:56Z"}]}],"maintenance_policy":{"start_time":"17:00","duration":"4h0m0s","day":"any"},"auto_upgrade":false,"status":{"state":"provisioning","message":"provisioning"},"created_at":"2021-05-31T20:14:56Z","updated_at":"2021-05-31T20:14:56Z","surge_upgrade":false,"registry_enabled":false}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4977'
      Ratelimit-Reset:
      - '1622488830'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 201
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/kubernetes/clusters?per_page=200
  response:
    content: '{"kubernetes_clusters":[{"id":"4562853d-b0f8-4d46-aa00-e1804e59ffb0","name":"dolib-test-cluster","region":"fra1","version":"1.20.2-do.0","cluster_subnet":"10.244.0.0/16","service_subnet":"10.245.0.0/16","vpc_uuid":"b21d4ee5-5e72-4056-b6f2-82e364789990","ipv4":"","endpoint":"","tags":["k8s","k8s:4562853d-b0f8-4d46-aa00-e1804e59ffb0"],"node_pools":[{"id":"d26dda82-cb52-4204-a7cd-dd9838165450","name":"test-nodes","size":"s-1vcpu-2gb","count":1,"tags":["k8s","k8s:4562853d-b0f8-4d46-aa00-e1804e59ffb0","k8s:worker"],"labels":null,"taints":[],"auto_scale":false,"min_nodes":0,"max_nodes":0,"nodes":[{"id":"834671d1-03ac-4ee9-bf26-894351c5d416","name":"","status":{"state":"provisioning"},"droplet_id":"","created_at":"2021-05-31T20:14:56Z","updated_at":"2021-05-31T20:14:56Z"}]}],"maintenance_policy":{"start_time":"17:00","duration":"4h0m0s","day":"any"},"auto_upgrade":false,"status":{"state":"provisioning","message":"provisioning"},"created_at":"2021-05-31T20:14:56Z","updated_at":"2021-05-31T20:16:27Z","surge_upgrade":false,"registry_enabled":false}],"meta":{"total":1},"links":{}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4976'
      ratelimit-reset:
      - '1622488830'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/kubernetes/clusters/4562853d-b0f8-4d46-aa00-e1804e59ffb0
  response:
    content: '{"kubernetes_cluster":{"id":"4562853d-b0f8-4d46-aa00-e1804e59ffb0","name":"dolib-test-cluster","region":"fra1","version":"1.20.2-do.0","cluster_subnet":"10.244.0.0/16","service_subnet":"10.245.0.0/16","vpc_uuid":"b21d4ee5-5e72-4056-b6f2-82e364789990","ipv4":"","endpoint":"","ta[...]
- request:
    body: '{"size": "s-1vcpu-2gb", "name": "test-nodes2", "count": 1, "labels": null,
      "auto_scale": null, "min_nodes": null, "max_nodes": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/kubernetes/clusters/4562853d-b0f8-4d46-aa00-e1804e59ffb0/node_pools
  response:
    content: '{"node_pool":{"id":"3565a3a5-d415-49b5-9186-a2e7a7254d4b","name":"test-nodes2","size":"s-1vcpu-2gb","count":1,"tags":["k8s","k8s:4562853d-b0f8-4d46-aa00-e1804e59ffb0","k8s:worker"],"labels":null,"taints":[],"auto_scale":false,"min_nodes":0,"max_nodes":0,"nodes":[{"id":"2a7c184a-e678-456f-aa69-b096f23f2eef","name":"","status":{"state":"provisioning"},"droplet_id":"","created_at":"2021-05-31T20:41:33Z","updated_at":"2021-05-31T20:41:33Z"}]}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4987'
      ratelimit-reset:
      - '1622490244'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 201
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/kubernetes/clusters/4562853d-b0f8-4d46-aa00-e1804e59ffb0/node_pools/3565a3a5-d415-49b5-9186-a2e7a7254d4b
  response:
    content: '{"node_pool":{"id":"3565a3a5-d415-49b5-9186-a2e7a7254d4b","name":"test-nodes2","size":"s-1vcpu-2gb","count":1,"tags":["k8s","k8s:4562853d-b0f8-4d46-aa00-e1804e59ffb0","k8s:worker"],"labels":null,"taints":[],"auto_scale":false,"min_nodes":0,"max_nodes":0,"nodes":[{"id":"2a7c184a-e678-456f-aa69-b096f23f2eef","name":"","status":{"state":"provisioning"},"droplet_id":"","created_at":"2021-05-31T20:41:33Z","updated_at":"2021-05-31T20:41:33Z"}]}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4986'
      ratelimit-reset:
      - '1622490244'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/kubernetes/clusters/4562853d-b0f8-4d46-aa00-e1804e59ffb0/node_pools?per_page=200
  response:
    content: '{"node_pools":[{"id":"d26dda82-cb52-4204-a7cd-dd9838165450","name":"test-nodes","size":"s-1vcpu-2gb","count":1,"tags":["k8s","k8s:4562853d-b0f8-4d46-aa00-e1804e59ffb0","k8s:worker"],"labels":null,"taints":[],"auto_scale":false,"min_nodes":0,"max_nodes":0,"nodes":[{"id":"834671d1-03ac-4ee9-bf26-894351c5d416","name":"test-nodes-8gkbc","status":{"state":"running"},"droplet_id":"248451170","created_at":"2021-05-31T20:14:56Z","updated_at":"2021-05-31T20:18:30Z"}]},{"id":"3565a3a5-d415-49b5-9186-a2e7a7254d4b","name":"test-nodes2-renamed","size":"s-1vcpu-2gb","count":1,"tags":["k8s","k8s:4562853d-b0f8-4d46-aa00-e1804e59ffb0","k8s:worker"],"labels":null,"taints":[],"auto_scale":false,"min_nodes":0,"max_nodes":0,"nodes":[{"id":"2a7c184a-e678-456f-aa69-b096f23f2eef","name":"test-nodes2-8gka7","status":{"state":"running"},"droplet_id":"248452942","created_at":"2021-05-31T20:41:33Z","updated_at":"2021-05-31T20:42:23Z"}]}]}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4985'
      Ratelimit-Reset:
      - '1622490657'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/kubernetes/clusters/4562853d-b0f8-4d46-aa00-e1804e59ffb0/kubeconfig
  response:
    content: "apiVersion: v1\nclusters:\n- cluster:\n    certificate-authority-data:
      LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURKekNDQWcrZ0F3SUJBZ0lDQm5Vd0RRWUpLb1pJaHZjTkFRRUxCUUF3TXpFVk1CTUdBMVVFQ2hNTVJHbG4KYVhSaGJFOWpaV0Z1TVJvd0dBWURWUVFERXhGck9ITmhZWE1nUTJ4MWMzUmxjaUJEUV[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/kubernetes/clusters/4562853d-b0f8-4d46-aa00-e1804e59ffb0/credentials
  response:
    content: '{"server":"https://4562853d-b0f8-4d46-aa00-e1804e59ffb0.k8s.ondigitalocean.com","certificate_authority_data":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURKekNDQWcrZ0F3SUJBZ0lDQm5Vd0RRWUpLb1pJaHZjTkFRRUxCUUF3TXpFVk1CTUdBMVVFQ2hNTVJHbG4KYVhSaGJFOWpaV0Z1TVJvd0dBWURWUVFERXhGck9ITmhZWE1nUTJ4MWMzUmxjaUJEUVRBZUZ3MHlNVEExTXpFeQpNREUwTlRkYUZ3MDBNVEExTXpFeU1ERTBOVGRhTURNeEZUQVRCZ05WQkFvVERFUnBaMmwwWVd4UFkyVmhiakVhCk1CZ0dBMVVFQXhNUmF6aHpZV0Z6SUVOc2RYTjBaWElnUTBFd2dnRWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUIKRHdBd2dnRUtBb0lCQVFESkxCR2dmUnFSandyY0RyaDZUV1lzMU9hVDUwVEs2bmR0STJQbHEzTzBmVUZJOXJQNApOWUsvbWhhUHVmL2lOa3RMSlNYSjB[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/kubernetes/options
  response:
    content: '{"options":{"regions":[{"name":"New York 1","slug":"nyc1"},{"name":"Singapore
      1","slug":"sgp1"},{"name":"London 1","slug":"lon1"},{"name":"New York 3","slug":"nyc3"},{"name":"Amsterdam
      3","slug":"ams3"},{"name":"Frankfurt 1","slug":"fra1"},{"name":"Toronto 1","slug":"tor1"},{"name":"Bangalore
      1","slug":"blr1"},{"name":"San Francisco 3","slug":"sfo3"}],"versions":[{"slug":"1.20.2-do.0","kubernetes_version":"1.20.2"},{"slug":"1.19.6-do.0","kubernetes_version":"1.19.6"},{"slug":"1.18.14-do.0","kubernetes_version":"1.18.14"}],"sizes":[{"name":"s-1vcpu-2gb","slug":"s-1vcpu-2gb"},{"name":"s-1vcpu-2gb-amd","slug":"s-1vcpu-2gb-amd"},{"name":"s-1vcpu-2gb-intel","slug":"s-1vcpu-2gb-intel"},{"name":"s-2vcpu-2gb","slug":"s-2vcpu-2gb"},{"name":"s-2vcpu-2gb-amd","slug":"s-2vcpu-2gb-amd"},{"name":"s-2vcpu-2gb-intel","slug":"s-2vcpu-2gb-intel"},{"name":"s-2vcpu-4gb","slug":"s-2vcpu-4gb"},{"name":"s-2vcpu-4gb-amd","slug":"s-2vcpu-4gb-amd"},{"name":"s-2vcpu-4gb-intel","slug":"s-2vcpu-4gb-intel"},{"name":"s-4vcpu-8gb","slug":"s-4vcpu-8gb"}[...]
- request:
    body: '{"cluster_uuids": ["4562853d-b0f8-4d46-aa00-e1804e59ffb0"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/kubernetes/registry
  response:
    content: ''
    headers:
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4984'
      ratelimit-reset:
      - '1622492685'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 204
[...]
