interactions:
- request:
    body: '{"id": null, "name": "dolib-test-volume", "region": "fra1", "size_gigabytes":
      1, "droplet_ids": null, "description": null, "created_at": null, "filesystem_type":
      null, "filesystem_label": null, "tags": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/volumes
  response:
    content: '{"volume":{"id":"354ecceb-c159-11eb-b4f2-0a58ac14d28e","name":"dolib-test-volume","created_at":"2021-05-30T15:10:45Z","description":"","droplet_ids":null,"region":{"features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"name":"Frankfurt
      1","slug":"fra1","sizes":["s-1vcpu-1gb","s-1vcpu-1gb-amd","s-1vcpu-1gb-intel","s-1vcpu-2gb","s-1vcpu-2gb-amd","s-1vcpu-2gb-intel","s-2vcpu-2gb","s-2vcpu-2gb-amd","s-2vcpu-2gb-intel","s-2vcpu-4gb","s-2vcpu-4gb-amd","s-2vcpu-4gb-intel","s-4vcpu-8gb","c-2","c2-2vcpu-4gb","s-4vcpu-8gb-amd","s-4vcpu-8gb-intel","g-2vcpu-8gb","gd-2vcpu-8gb","s-8vcpu-16gb","m-2vcpu-16gb","c-4","c2-4vcpu-8gb","s-8vcpu-16gb-amd","s-8vcpu-16gb-intel","m3-2vcpu-16gb","g-4vcpu-16gb","so-2vcpu-16gb","m6-2vcpu-16gb","gd-4vcpu-16gb","so1_5-2vcpu-16gb","m-4vcpu-32gb","c-8","c2-8vcpu-16gb","m3-4vcpu-32gb","g-8vcpu-32gb","so-4vcpu-32gb","m6-4vcpu-32gb","gd-8vcpu-32gb","so1_5-4vcpu-32gb","m-8vcpu-64gb","c-16","c2-16vcpu-32gb","m3-8vcpu-64gb","g-16vcpu-64gb","so-8vcpu-64gb","m6-8vcpu-64gb","gd-16vcpu-64gb","so1_5-8vcpu-64gb","m-16vcpu-128gb","c-32","c2-32vcpu-64gb","m3-16vcpu-128gb","m-24vcpu-192gb","g-32vcpu-128gb","so-16vcpu-128gb","m6-16vcpu-128gb","gd-32vcpu-128gb","m3-24vcpu-192gb","g-40vcpu-160gb","so1_5-16vcpu-128gb","m-32vcpu-256gb","gd-40vcpu-160gb","so-24vcpu-192gb","m6-24vcpu-192gb","m3-32vcpu-256gb","so1_5-24vcpu-192gb","so-32vcpu-256gb","m6-32vcpu-256gb","so1_5-32vcpu-256gb"],"available":true},"size_gigabytes":1,"filesystem_type":"","filesystem_label":"","tags":null}}

      '
    headers:
      Content-Type:
      - application/json
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4984'
      ratelimit-reset:
      - '1622384223'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 201
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/volumes?per_page=200
  response:
    content: '{"links":{"pages":{}},"meta":{"total":2},"volumes":[{"id":"354ecceb-c159-11eb-b4f2-0a58ac14d28e","name":"dolib-test-volume","created_at":"2021-05-30T15:10:45Z","description":"","droplet_ids":[],"region":{"features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"name":"Frankfurt
      1","slug":"fra1","sizes":["s-1vcpu-1gb","s-1vcpu-1gb-amd","s-1vcpu-1gb-intel","s-1vcpu-2gb","s-1vcpu-2gb-amd","s-1vcpu-2gb-intel","s-2vcpu-2gb","s-2vcpu-2gb-amd","s-2vcpu-2gb-intel","s-2vcpu-4gb","s-2vcpu-4gb-amd","s-2vcpu-4gb-intel","s-4v[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/volumes/354ecceb-c159-11eb-b4f2-0a58ac14d28e
  response:
    content: '{"volume":{"id":"354ecceb-c159-11eb-b4f2-0a58ac14d28e","name":"dolib-test-volume","created_at":"2021-05-30T15:10:45Z","description":"","droplet_ids":[],"region":{"features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"name":"Frankfurt
      1","slug":"fra1","si[...]
- request:
    body: '{"type": "resize", "size_gigabytes": 2}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/volumes/354ecceb-c159-11eb-b4f2-0a58ac14d28e/actions
  response:
    content: '{"action":{"id":1218136362,"status":"done","type":"resize_volume","started_at":"2021-05-30T15:11:39Z","completed_at":"2021-05-30T15:11:39Z","resource_type":"backend","region":{"features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"name":"Frankfurt
      1","slug":"fra1","sizes":["s-1vcpu-1gb","s-1vcpu-1gb-amd","s-1vcpu-1gb-intel","s-1vcpu-2gb","s-1vcpu-2gb-amd","s-1vcpu-2gb-intel","s-2vcpu-2gb","s-2vcpu-2gb-amd","s-2vcpu-2gb-intel","s-2vcpu-4gb","s-2vcpu-4gb-amd","s-2vcpu-4gb-intel","s-4vcpu-8gb","c-2","c2-2vcpu-4gb","s-4vcpu-8gb-amd","s-4vcpu-8gb-intel","g-2vcpu-8gb","gd-2vcpu-8gb","s-8vcpu-16gb","m-2vcpu-16gb","c-4","c2-4vcpu-8gb","s-8vcpu-16gb-amd","s-8vcpu-16gb-intel","m3-2vcpu-16gb","g-4vcpu-16gb","so-2vcpu-16gb","m6-2vcpu-16gb","gd-4vcpu-16gb","so1_5-2vcpu-16gb","m-4vcpu-32gb","c-8","c2-8vcpu-16gb","m3-4vcpu-32gb","g-8vcpu-32gb","so-4vcpu-32gb","m6-4vcpu-32gb","gd-8vcpu-32gb","so1_5-4vcpu-32gb","m-8vcpu-64gb","c-16","c2-16vcpu-32gb","m3-8vcpu-64gb","g-16vcpu-64gb","so-8vcpu-64gb","m6-8vcpu-64gb","gd-16vcpu-64gb","so1_5-8vcpu-64gb","m-16vcpu-128gb","c-32","c2-32vcpu-64gb","m3-16vcpu-128gb","m-24vcpu-192gb","g-32vcpu-128gb","so-16vcpu-128gb","m6-16vcpu-128gb","gd-32vcpu-128gb","m3-24vcpu-192gb","g-40vcpu-160gb","so1_5-16vcpu-128gb","m-32vcpu-256gb","gd-40vcpu-160gb","so-24vcpu-192gb","m6-24vcpu-192gb","m3-32vcpu-256gb","so1_5-24vcpu-192gb","so-32vcpu-256gb","m6-32vcpu-256gb","so1_5-32vcpu-256gb"],"available":true},"region_slug":"fra1"}}

      '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4980'
      Ratelimit-Reset:
      - '1622384223'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 202
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/droplets?per_page=200
  response:
    content: '{"droplets":[{"id":248152601,"name":"dolib-droplet","memory":1024,"vcpus":1,"disk":25,"locked":false,"status":"new","kernel":null,"created_at":"2021-05-29T15:59:54Z","features":[],"backup_ids":[],"next_backup_window":null,"snapshot_ids":[],"image":{"id":84780421,"name":"18.04
      (LTS) x64","distribution":"Ubuntu","slug":"ubuntu-18-04-x64","public":true,"regions":["nyc3","nyc1","sfo1","nyc2","ams2","sgp1","lon1","ams3","fra1","tor1","sfo2","blr1","sfo3"],"created_at":"2021-05-26T15:31:29Z","min_disk_size":15,"type":"base","size_gigabytes":0.4,"description":"Ubuntu
      18.04 x86 image","tags":[],"status":"available"},"volume_ids":[],"size":{"slug":"s-1vcpu-1gb","memory":1024,"vcpus":1,"disk":25,"transfer":1.0,"price_monthly":5.0,"price_hourly":0.00744,"regions":["ams2","ams3","blr1","fra1","lon1","nyc1","nyc2","nyc3","sfo1","sfo3","sgp1","tor1"],"available":true,"description":"Basic"},"size_slug":"s-1vcpu-1gb","networks":{"v4":[],"v6":[]},"region":{"name":"Frankfurt
      1","slug":"fra1","features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"available":true,"sizes":["s-1vcpu-1gb","s-1vcpu-1gb-amd","s-1vcpu-1gb-intel","s-1vcpu-2gb","s-1vcpu-2gb-amd","s-1vcpu-2gb-intel","s-2vcpu-2gb","s-2vcpu-2gb-amd","s-2vcpu-2gb-intel","s-2vcpu-4gb","s-2vcpu-4gb-amd","s-2vcpu-4gb-intel","s-4vcpu-8gb","c-2","c2-2vcpu-4gb","s-4vcpu-8gb-amd","s-4vcpu-8gb-intel","g-2vcpu-8gb","gd-2vcpu-8gb","s-8vcpu-16gb","m-2vcpu-1[...]
- request:
    body: '{"type": "attach", "droplet_id": 248152601, "region": "fra1"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/volumes/354ecceb-c159-11eb-b4f2-0a58ac14d28e/actions
  response:
    content: '{"action":{"id":1218137450,"status":"in-progress","type":"attach_volume","started_at":"2021-05-30T15:14:56Z","completed_at":null,"resource_type":"backend","region":{"features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"name":"Frankfurt
      1[...]
[...]
- request:
    body: '{"name": "test-volume-snapshot", "tags": ["test"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/volumes/354ecceb-c159-11eb-b4f2-0a58ac14d28e/snapshots
  response:
    content: '{"snapshot":{"id":"854adf18-c15b-11eb-ab64-0a58ac14d228","name":"test-volume-snapshot","regions":["fra1"],"created_at":"2021-05-30T15:27:18Z","resource_id":"354ecceb-c159-11eb-b4f2-0a58ac14d28e","resource_type":"volume","min_disk_size":2,"size_gigabytes":0,"tags":["test"]}}

      '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4976'
      Ratelimit-Reset:
      - '1622384910'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 201
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/volumes/354ecceb-c159-11eb-b4f2-0a58ac14d28e/snapshots?per_page=200
  response:
    content: '{"snapshots":[{"id":"854adf18-c15b-11eb-ab64-0a58ac14d228","name":"test-volume-snapshot","regions":["fra1"],"created_at":"2021-05-30T15:27:18Z","resource_id":"354ecceb-c159-11eb-b4f2-0a58ac14d28e","resource_type":"volume","min_disk_size":2,"size_gigabytes":0.0,"tags":["test"]}],"links":{},"meta":{"total":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"e18632251e6054be31ed92d1ff3bb91b"
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4977'
      ratelimit-reset:
      - '1622385151'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/volumes/354ecceb-c159-11eb-b4f2-0a58ac14d28e/actions?per_page=200
  response:
    content: '{"actions":[{"id":1218137450,"status":"completed","type":"attach_volume","started_at":"2021-05-30T15:14:57Z","completed_at":"2021-05-30T15:15:01Z","resource_type":"backend","region":{"features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"name":"Frankfurt
      1","slug":"fra1","sizes":["s-1vcpu-1gb","s-1vcpu-1gb-amd","s-1vcpu-1gb-intel","s-1vcpu-2gb","s-1vcpu-2gb-amd","s-1vcpu-2gb-intel","s-2vcpu-2gb","s-2vcpu-2gb-amd","s-2vcpu-2gb-intel","s-2vcpu-4gb","s-2vcpu-4gb-amd","s-2vc[...]
- request:
    body: '{"type": "attach", "droplet_id": 248152601, "region": "fra1", "volume_name":
      "dolib-test-volume"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/volumes/actions
  response:
    content: '{"action":{"id":1218148620,"status":"in-progress","type":"attach_volume","started_at":"2021-05-30T15:41:35Z","completed_at":null,"resource_type":"backend","region":{"features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"name":"Frankfurt
      1","slug":"fra1","sizes":["s-1vcpu-1gb",[...]
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/volumes/354ecceb-c159-11eb-b4f2-0a58ac14d28e
  response:
    content: ''
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4970'
      Ratelimit-Reset:
      - '1622387236'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 204
version: 1
