interactions:
- request:
    body: '{"name": "dolib-test", "purpose": "For test purposes", "description": "Python
      library for digital ocean API", "environment": "Development"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/projects
  response:
    content: '{"project":{"id":"1de6d5e9-e579-4e01-9c91-5be6926a2796","owner_uuid":"4775b5b8ef10a1069ddae8b81a425222e8cea930","owner_id":4495407,"name":"dolib-test","description":"Python
      library for digital ocean API","purpose":"Other: For test purposes","environment":"Development","is_default":false,"created_at":"2021-05-29T20:39:55Z","updated_at":"2021-05-29T20:39:55Z"}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4983'
      Ratelimit-Reset:
      - '1622317334'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 201
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/projects?per_page=200
  response:
    content: '{"projects":[{"id":"1de6d5e9-e579-4e01-9c91-5be6926a2796","owner_uuid":"4775b5b8ef10a1069ddae8b81a425222e8cea930","owner_id":4495407,"name":"dolib-test","description":"Python
      library for digital ocean API","purpose":"Other: For test purposes","environment":"Development","is_default":false,"created_at":"2021-05-29T20:39:55Z","updated_at":"2021-05-29T20:39:55Z"}],"links":{"pages":{"first":"https://api.digitalocean.com/v2/projects?page=1\u0026per_page=200","last":"https://api.digitalocean.com/v2/projects?page=1\u0026per_page=200"}},"meta":{"total":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4982'
      Ratelimit-Reset:
      - '1622317334'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/projects/1de6d5e9-e579-4e01-9c91-5be6926a2796
  response:
    content: '{"project":{"id":"1de6d5e9-e579-4e01-9c91-5be6926a2796","owner_uuid":"4775b5b8ef10a1069ddae8b81a425222e8cea930","owner_id":4495407,"name":"dolib-test","description":"Python
      library for digital ocean API","purpose":"Other: For test purposes","environment":"Development","is_default":false,"created_at":"2021-05-29T20:39:55Z","updated_at":"2021-05-29T20:39:55Z"}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4981'
      ratelimit-reset:
      - '1622317477'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/volumes?per_page=200
  response:
    content: '{"links":{"pages":{}},"meta":{"total":1},"volumes":[{"id":"23272bce-9eba-11ea-a72f-0a58ac14d106","name":"test","created_at":"2020-05-25T19:01:27Z","description":"","droplet_ids":[],"region":{"features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"name":"Frankfurt
      1","slug":"fra1","sizes":["s-1vcpu-1gb","s-1vcpu-1gb-amd","s-1vcpu-1gb-intel","s-1vcpu-2gb","s-1vcpu-2gb-amd","s-1vcpu-2gb-intel","s-2vcpu-2gb","s-2vcpu-2gb-amd","s-2vcpu-2gb-intel","s-2vcpu-4gb","s-2vcpu-4gb-amd","s-2vcpu-4gb-intel","s-4vcpu-8gb","c-2","c2-2vcpu-4gb","s-4vcpu-8gb-amd","s-4vcpu-8gb-intel","g-2vcpu-8gb","gd-2vcpu-8gb","s-8vcpu-16gb","m-2vcpu-16gb","c-4","c2-4vcpu-8gb","s-8vcpu-16gb-amd","s-8vcpu-16gb-intel","m3-2vcpu-16gb","g-4vcpu-16gb","so-2vcpu-16gb","m6-2vcpu-16gb","gd-4vcpu-16gb","so1_5-2vcpu-16gb","m-4vcpu-32gb","c-8","c2-8vcpu-16gb","m3-4vcpu-32gb","g-8vcpu-32gb","so-4vcpu-32gb","m6-4vcpu-32gb","gd-8vcpu-32gb","so1_5-4vcpu-32gb","m-8vcpu-64gb","c-16","c2-16vcpu-32gb","m3-8vcpu-64gb","g-16vcpu-64gb","so-8vcpu-64gb","m6-8vcpu-64gb","gd-16vcpu-64gb","so1_5-8vcpu-64gb","m-16vcpu-128gb","c-32","c2-32vcpu-64gb","m3-16vcpu-128gb","m-24vcpu-192gb","g-32vcpu-128gb","so-16vcpu-128gb","m6-16vcpu-128gb","gd-32vcpu-128gb","m3-24vcpu-192gb","g-40vcpu-160gb","so1_5-16vcpu-128gb","m-32vcpu-256gb","gd-40vcpu-160gb","so-24vcpu-192gb","m6-24vcpu-192gb","m3-32vcpu-256gb","so1_5-24vcpu-192gb","so-32vcpu-256gb","m6-32vcpu-256gb","so1_5-32vcpu-256gb"],"available":true},"size_gigabytes":2,"filesystem_type":"","filesystem_label":"","tags":[]}]}

      '
    headers:
      Content-Type:
      - application/json
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4985'
      ratelimit-reset:
      - '1622318404'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
- request:
    body: '{"resources": ["do:volume:23272bce-9eba-11ea-a72f-0a58ac14d106"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/projects/1de6d5e9-e579-4e01-9c91-5be6926a2796/resources
  response:
    content: '{"resources":[{"urn":"do:volume:23272bce-9eba-11ea-a72f-0a58ac14d106","assigned_at":"2020-05-25T19:01:31Z","links":{"self":"https://api.digitalocean.com/v2/volumes/23272bce-9eba-11ea-a72f-0a58ac14d106"},"status":"assigned"}]}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4984'
      Ratelimit-Reset:
      - '1622318404'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/projects/1de6d5e9-e579-4e01-9c91-5be6926a2796/resources?per_page=200
  response:
    content: '{"resources":[{"urn":"do:volume:23272bce-9eba-11ea-a72f-0a58ac14d106","assigned_at":"2020-05-25T19:01:31.21835Z","links":{"self":"https://api.digitalocean.com/v2/volumes/23272bce-9eba-11ea-a72f-0a58ac14d106"},"status":"ok"}],"links":{"pages":{"first":"https://api.digitalocean.com/v2/projects/1de6d5e9-e579-4e01-9c91-5be6926a2796/resources?page=1\u0026per_page=200","last":"https://api.digitalocean.com/v2/projects/1de6d5e9-e579-4e01-9c91-5be6926a2796/resources?page=1\u0026per_page=200"}},"meta":{"total":1}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4983'
      Ratelimit-Reset:
      - '1622318404'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/projects/1de6d5e9-e579-4e01-9c91-5be6926a2796
  response:
    content: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4983'
      ratelimit-reset:
      - '1622318721'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 204
version: 1
