interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/snapshots?per_page=200
  response:
    content: '{"snapshots":[{"id":"84969251","name":"test-snapshot","regions":["fra1"],"created_at":"2021-05-29T17:42:16Z","resource_id":"248152601","resource_type":"droplet","min_disk_size":25,"size_gigabytes":1.29,"tags":[]},{"id":"84969331","name":"test-snapshot","regions":["fra1"],"created_at":"2021-05-29T17:51:15Z","resource_id":"248152601","resource_type":"droplet","min_disk_size":25,"size_gigabytes":1.29,"tags":[]},{"id":"84969736","name":"dolib-droplet-renamed-1622311264","regions":["fra1"],"created_at":"2021-05-29T18:01:04Z","resource_id":"248152601","resource_type":"droplet","min_disk_size":25,"size_gigabytes":1.29,"tags":[]},{"id":"84969750","name":"test-snapshot","regions":["fra1"],"created_at":"2021-05-29T18:03:15Z","resource_id":"248152601","resource_type":"droplet","min_disk_size":25,"size_gigabytes":1.29,"tags":[]},{"id":"84969777","name":"dolib-droplet-renamed-1622311583","regions":["fra1"],"created_at":"2021-05-29T18:06:23Z","resource_id":"248152601","resource_type":"droplet","min_disk_size":25,"size_gigabytes":1.29,"tags":[]}],"links":{},"meta":{"total":55555}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f99146006fe60f6adb4bf706bef9fb44"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4989'
      Ratelimit-Reset:
      - '1622314700'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/snapshots?resource_type=droplet&per_page=200
  response:
    content: '{"snapshots":[{"id":"84969251","name":"test-snapshot","regions":["fra1"],"created_at":"2021-05-29T17:42:16Z","resource_id":"248152601","resource_type":"droplet","min_disk_size":25,"size_gigabytes":1.29,"tags":[]},{"id":"84969331","name":"test-snapshot","regions":["fra1"],"created_at":"2021[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/snapshots/84969251
  response:
    content: '{"snapshot":{"id":"84969251","name":"test-snapshot","regions":["fra1"],"created_at":"2021-05-29T17:42:16Z","resource_id":"248152601","resource_type":"droplet","min_disk_size":25,"size_gigabytes":1.29,"tags":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"0c50a86e3af3598cba8aabcd1d7325c7"
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4987'
      ratelimit-reset:
      - '1622317334'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/snapshots/84969251
  response:
    content: ''
    headers:
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4986'
      ratelimit-reset:
      - '1622317334'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 204
version: 1
