interactions:
- request:
    body: '{"name": "dolib-test", "type": "lets_encrypt", "private_key": null, "leaf_certificate":
      null, "certificate_chain": null, "dns_names": ["test.dolib"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/certificates
  response:
    content: '{"certificate":{"id":"5bb3383e-e2a7-4e20-a7c5-e8210f790e74","name":"dolib-test","not_after":"0001-01-01T00:00:00Z","sha1_fingerprint":"","created_at":"2021-05-30T12:56:25Z","dns_names":["test.dolib"],"state":"pending","type":"lets_encrypt"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4996'
      Ratelimit-Reset:
      - '1622378962'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 202
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/certificates?per_page=200
  response:
    content: '{"certificates":[{"id":"5bb3383e-e2a7-4e20-a7c5-e8210f790e74","name":"dolib-test","not_after":"2021-08-28T11:56:30Z","sha1_fingerprint":"a08c4bc789b0d4845e903f3aace4f065efe1345c","created_at":"2021-05-30T12:56:27Z","dns_names":["test.dolib"],"state":"verified","type":"lets_encrypt"}],"links":{},"meta":{"total":1}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4994'
      ratelimit-reset:
      - '1622378962'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/certificates/5bb3383e-e2a7-4e20-a7c5-e8210f790e74
  response:
    content: '{"certificate":{"id":"5bb3383e-e2a7-4e20-a7c5-e8210f790e74","name":"dolib-test","not_after":"2021-08-28T11:56:30Z","sha1_fingerprint":"a08c4bc789b0d4845e903f3aace4f065efe1345c","created_at":"2021-05-30T12:56:27Z","dns_names":["test.dolib"],"state":"verified","type":"lets_encrypt"}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4993'
      Ratelimit-Reset:
      - '1622378962'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/certificates/5bb3383e-e2a7-4e20-a7c5-e8210f790e74
  response:
    content: ''
    headers:
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4992'
      Ratelimit-Reset:
      - '1622378962'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 204
version: 1
