interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/actions
  response:
    content: '{"actions":[{"id":1214586423,"status":"completed","type":"destroy","started_at":"2021-05-25T16:50:52Z","completed_at":"2021-05-25T16:53:36Z","resource_id":247579526,"resource_type":"droplet","region_slug":"fra1","region":{"name":"Frankfurt
      1","slug":"fra1","available":true,"features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"sizes":["s-1vcpu-1gb","s-1vcpu-1gb-amd","s-1vcpu-1gb-intel","s-1vcpu-2gb","s-1vcpu-2gb-amd","s-1vcpu-2gb-intel","s-2vcpu-2gb","s-2vcpu-2gb-amd","s-2vcpu-2gb-intel","s-2vcpu-4gb","s-2vcpu-4gb-amd","s-2vcpu-4gb-intel","s-4vcpu-8gb","c-2","c2-2vcpu-4gb","s-4vcpu-8gb-amd","s-4vcpu-8gb-intel","g-2vcpu-8gb","gd-2vcpu-8gb","s-8vcpu-16gb","m-2vcpu-16gb","c-4","c2-4vcpu-8gb","s-8vcpu-16gb-amd","s-8vcpu-16gb-intel","m3-2vcpu-16gb","g-4vcpu-16gb","so-2vcpu-16gb","m6-2vcpu-16gb","gd-4vcpu-16gb","so1_5-2vcpu-16gb",[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/actions/1214586423
  response:
    content: '{"action":{"id":1214586423,"status":"completed","type":"destroy","started_at":"2021-05-25T16:50:52Z","completed_at":"2021-05-25T16:53:36Z","resource_id":247579526,"resource_type":"droplet","region_slug":"fra1","region":{"name":"Frankfurt
      1","slug":"fra1","available":true,"features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"sizes":["s-1vcpu-1gb","s-1vcpu-1gb-amd","s-1vcpu-1gb-intel","s-1vcpu-2gb","s-1vcpu-2gb-amd","s-1vcpu-2gb-intel","s-2vcpu-2gb","s-2vcpu-2gb-amd","s-[...]
