interactions:
- request:
    body: '{"region": "fra1"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/floating_ips
  response:
    content: '{"floating_ip":{"ip":"159.89.214.32","droplet":null,"region":{"name":"Frankfurt
      1","slug":"fra1","features":["private_networking","backups","ipv6","metadata","install_agent","storage","image_transfer"],"available":true,"sizes":["c-2","c-4","c-8","s-1vcpu-1gb","s-2vcpu-2gb","s-2vcpu-4gb","s-4vcpu-8gb","c-1vcpu-2gb","gd-2vcpu-8gb","g-2vcpu-8gb","gd-4vcpu-16gb","g-4vcpu-16gb","gd-8vcpu-32gb","g-8vcpu-32gb","c-16","g-16vcpu-64gb","gd-16vcpu-64gb","s-8vcpu-16gb","c-32","c2-2vcpu-4gb","c2-4vcpu-8gb","c2-8vcpu-16gb","so-2vcpu-16gb","c2-16vcpu-32gb","so-4vcpu-32gb","so-8vcpu-64gb","c2-32vcpu-64gb","so-16vcpu-128gb","so-24vcpu-192gb","so-32vcpu-256gb","m6-2vcpu-16gb","m-2vcpu-16gb","m3-2vcpu-16gb","m3-4vcpu-32gb","m6-4vcpu-32gb","m-4vcpu-32gb","m3-8vcpu-64gb","m-8vcpu-64gb","m6-8vcpu-64gb","m-16vcpu-128gb","m3-16vcpu-128gb","m6-16vcpu-128gb","m6-24vcpu-192gb","m-24vcpu-192gb","m3-24vcpu-192gb","m6-32vcpu-256gb","m3-32vcpu-256gb","so1_5-2vcpu-16gb","so1_5-4vcpu-32gb","so1_5-8vcpu-64gb","so1_5-16vcpu-128gb","so1_5-24vcpu-192gb","g-32vcpu-128gb","gd-32vcpu-128gb","m-32vcpu-256gb","s-1vcpu-1gb-amd","s-1vcpu-2gb-amd","s-2vcpu-2gb-amd","s-8vcpu-16gb-amd","g-40vcpu-160gb","gd-40vcpu-160gb","s-2vcpu-4gb-amd","s-1vcpu-2gb","s-1vcpu-1gb-intel","s-1vcpu-2gb-intel","s-2vcpu-2gb-intel","s-2vcpu-4gb-intel","s-4vcpu-8gb-intel","s-8vcpu-16gb-intel","so1_5-32vcpu-256gb","s-4vcpu-8gb-amd"]},"locked":false},"links":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4973'
      Ratelimit-Reset:
      - '1622403600'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 202
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/floating_ips?per_page=200
  response:
    content: '{"floating_ips":[{"ip":"159.89.214.32","droplet":null,"region":{"name":"Frankfurt
      1","slug":"fra1","features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"available":true,"sizes":["s-1vcpu-1gb","s-1vcpu-1gb-amd","s-1vcpu-1gb-intel","s-1vcpu-2gb","s-1vcpu-2gb-amd","s-1vcpu-2gb-intel","s-2vcpu-2gb","s-2vcpu-2gb-amd","s-2vcpu-2gb-intel","s-2vcpu-4gb","s-2vcpu-4gb-amd","s-2vcpu-4gb-intel","s-4vcpu-8gb","c-2","c2-2vcpu-4gb","s-4vcpu-8gb-amd","s-4vcpu-8gb-intel","g-2vcpu-8gb","gd-2vcpu-8gb","s-8vcpu-16gb","m-2vcpu-16gb","c-4","c2-4vcpu-8gb","s-8vcpu-16gb-amd","s-8vcpu-16gb-intel","m3-2vcpu-16gb","g-4vcpu-16gb","so-2vcpu-16gb","m6-2vcpu-16gb","gd-4vcpu-16gb","so1_5-2vcpu-16gb","m-4vcpu-32gb","c-8","c2-8vcpu-16gb","m3-4vcpu-32gb","g-8vcpu-32gb","so-4vcpu-32gb","m6-4vcpu-32gb","gd-8vcpu-32gb","so1_5-4vcpu-32gb","m-8vcpu-64gb","c-16","c2-16vcpu-32gb","m3-8vcpu-64gb","g-16vcpu-64gb","so-8vcpu-64gb","m6-8vcpu-64gb","gd-16vcpu-64gb","so1_5-8vcpu-64gb","m-16vcpu-128gb","c-32","c2-32vcpu-64gb","m3-16vcpu-128gb","m-24vcpu-192gb","g-32vcpu-128gb","so-16vcpu-128gb","m6-16vcpu-128gb","gd-32vcpu-128gb","m3-24vcpu-192gb","g-40vcpu-160gb","so1_5-16vcpu-128gb","m-32vcpu-256gb","gd-40vcpu-160gb","so-24vcpu-192gb","m6-24vcpu-192gb","m3-32vcpu-256gb","so1_5-24vcpu-192gb","so-32vcpu-256gb","m6-32vcpu-256gb","so1_5-32vcpu-256gb"]},"locked":false}],"links":{},"meta":{"total":1}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4971'
      ratelimit-reset:
      - '1622403600'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - flip-aggregator
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/floating_ips/159.89.214.32
  response:
    content: '{"floating_ip":{"ip":"159.89.214.32","droplet":null,"region":{"name":"Frankfurt
      1","slug":"fra1","features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"available":true,"sizes":["s-1vcpu-1gb","s-1vcpu-1gb-amd","s-1vcpu-1gb-intel","s-1vcpu-2gb","s-1vcpu-2gb-amd","s-1vcpu-2g[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/droplets?per_page=200
  response:
    content: '{"droplets":[{"id":248152601,"name":"dolib-droplet","memory":1024,"vcpus":1,"disk":25,"locked":false,"status":"new","kernel":null,"created_at":"2021-05-29T15:59:54Z","features":[],"backup_ids":[],"next_backup_window":null,"snapshot_ids":[],"image":{"id":84780421,"name":"18.04
      (LTS) x64","distribution":"Ubuntu","slug":"ubuntu-18-04-x64","public":true,"regions":["nyc3","nyc1","sfo1","nyc2","ams2","sgp1","lon1","ams3","fra1","tor1","sfo2","blr1","sfo3"],"created_at":"2021-05-26T15:31:29Z","min_disk_size":15,"type":"base","size_gigabytes":0.4,"description":"Ubuntu
      18.04 x86 image","tags":[],"status":"available"},"volume_ids":[],"size":{"slug":"s-1vcpu-1gb","memory":1024,"vcpus":1,"disk":25,"transfer":1.0,"price_monthly":5.0,"price_hourly":0.00744,"regions":["ams2","ams3","blr1","fra1","lon1","nyc1","nyc2","nyc3","sfo1","sfo3","sgp1","tor1"],"available":true,"description":"Basic"},"size_slug":"s-1vcpu-1gb","networks":{"v4":[],"v6":[]},"region":{"name":"Frankfurt
      1","slug":"fra1","features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"available":true,"sizes":["s-1vcpu-1gb","s-1vcpu-1gb-amd","s-1vcpu-1gb-intel","s-1vcpu-2gb","s-1vcpu-2gb-amd","s-1vcpu-2gb-intel","s-2vcpu-2gb","s-2vcpu-2gb-amd","s-2vcpu-2gb-intel","s-2vcpu-4gb","s-2vcpu-4gb-amd","s-2vcpu-4gb-intel","s-4vcpu-8gb","c-2","c2-2vcpu-4gb","s-4vcpu-8gb-amd","s-4vcpu-8gb-intel","g-2vcpu-8gb","gd-2vcpu-8gb","s-8vcpu-16gb","m-2vcpu-1[...]
- request:
    body: '{"type": "assign", "droplet_id": 248152601}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/floating_ips/159.89.214.32/actions
  response:
    content: '{"action":{"id":1218275268,"status":"in-progress","type":"assign_ip","started_at":"2021-05-30T20:31:37Z","completed_at":null,"resource_id":2673464864,"resource_type":"floating_ip","region":{"name":"Frankfurt
      1","slug":"fra1","features":["private_networking","backups","ipv6","metadata","install_agent","storage","image_transfer"],"available":true,"sizes":["c-2","c-4","c-8","s-1vcpu-1gb","s-2vcpu-2gb","s-2vcpu-4gb","s-4vcpu-8gb","c-1vcpu-2gb","gd-2vcpu-8gb","g-2vcpu-8gb","gd-4vcpu-16gb","g-4vcpu-16gb","gd-8vcpu-32gb","g-8vcpu-32gb","c-16","g-16vcpu-64gb","gd-16vcpu-64gb","s-8vcpu-16gb","c-32","c2-2vcpu-4gb","c2-4vcpu-8gb","c2-8vcpu-16gb","so-2vcpu-16gb","c2-16vcpu-32gb","so-4vcpu-32gb","so-8vcpu-64gb","c2-32vcpu-64gb","so-16vcpu-128gb","so-24vcpu-192gb","so-32vcpu-256gb","m6-2vcpu-16gb","m-2vcpu-16gb","m3-2vcpu-16gb","m3-4vcpu-32gb","m6-4vcpu-32gb","m-4vcpu-32gb","m3-8vcpu-64gb","m-8vcpu-64gb","m6-8vcpu-64gb","m-16vcpu-128gb","m3-16vcpu-128gb","m6-16vcpu-128gb","m6-24vcpu-192gb","m-24vcpu-192gb","m3-24vcpu-192gb","m6-32vcpu-256gb","m3-32vcpu-256gb","so1_5-2vcpu-16gb","so1_5-4vcpu-32gb","so1_5-8vcpu-64gb","so1_5-16vcpu-128gb","so1_5-24vcpu-192gb","g-32vcpu-128gb","gd-32vcpu-128gb","m-32vcpu-256gb","s-1vcpu-1gb-amd","s-1vcpu-2gb-amd","s-2vcpu-2gb-amd","s-8vcpu-16gb-amd","g-40vcpu-160gb","gd-40vcpu-160gb","s-2vcpu-4gb-amd","s-1vcpu-2gb","s-1vcpu-1gb-intel","s-1vcpu-2gb-intel","s-2vcpu-2gb-intel","s-2vcpu-4gb-intel","s-4vcpu-8gb-intel","s-8vcpu-16gb-intel","so1_5-32vcpu-256gb","s-4vcpu-8gb-amd"]},"region_slug":"fra1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e8eff7cc09915f08292a2aac9844d4c6"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4967'
      Ratelimit-Reset:
      - '1622403600'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 201
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/floating_ips/159.89.214.32/actions?per_page=200
  response:
    content: '{"actions":[{"id":1218275701,"status":"in-progress","type":"unassign_ip","started_at":"2021-05-30T20:32:27Z","completed_at":null,"resource_id":2673464864,"resource_type":"floating_ip","region":{"name":"Frankfurt
      1","slug":"fra1","features":["private_networking","backups","ipv6","metadata","install_agent","storage","image_transfer"],"available":true,"sizes":["c-2","c-4","c-8","s-1vcpu-1gb","s-2vcpu-2gb","s-2vcpu-4gb","s-4vcpu-8gb","c-1vcpu-2gb","gd-2vcpu-8gb","g-2vcpu-8gb","gd-4vcpu-16gb","g-4vcpu-16g[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/floating_ips/159.89.214.32/actions/1218275701
  response:
    content: '{"action":{"id":1218275701,"status":"completed","type":"unassign_ip","started_at":"2021-05-30T20:32:27Z","completed_at":"2021-05-30T20:32:31Z","resource_id":2673464864,"resource_type":"floating_ip","region":{"name":"Frankfurt
      1","slug":"fra1","features":["private_networking","backup[...]
[...]
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/floating_ips
  response:
    content: '{"id":"unprocessable_entity","message":"Due to limited availability
      we have temporarily disabled IP reservation in this region."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4958'
      Ratelimit-Reset:
      - '1622404334'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 422
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/floating_ips/159.89.214.32
  response:
    content: ''
    headers:
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4957'
      Ratelimit-Reset:
      - '1622404334'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 204
version: 1
