interactions:
- request:
    body: '{"name": "dolib-test-vpc", "region": "fra1", "ip_range": null, "description":
      null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/vpcs
  response:
    content: '{"vpc":{"id":"45cc4713-9994-40b8-a049-35709b357d77","urn":"do:vpc:45cc4713-9994-40b8-a049-35709b357d77","name":"dolib-test-vpc","description":"","region":"fra1","ip_range":"10.114.0.0/20","created_at":"2021-05-30T19:06:58.517476693Z","default":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4991'
      ratelimit-reset:
      - '1622398036'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 201
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/vpcs?per_page=200
  response:
    content: '{"vpcs":[{"id":"45cc4713-9994-40b8-a049-35709b357d77","urn":"do:vpc:45cc4713-9994-40b8-a049-35709b357d77","name":"dolib-test-vpc","description":"","region":"fra1","ip_range":"10.114.0.0/20","created_at":"2021-05-30T19:06:59Z","default":false},{"id":"b21d4ee5-5e72-4056-b6f2-82e364789990","urn":"do:vpc:b21d4ee5-5e72-4056-b6f2-82e364789990","name":"default-fra1","description":"","region":"fra1","ip_range":"10.135.0.0/16","created_at":"2019-02-26T19:52:52Z","default":true}],"links":{},"meta":{"total":2}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4990'
      Ratelimit-Reset:
      - '1622398036'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/vpcs/45cc4713-9994-40b8-a049-35709b357d77
  response:
    content: '{"vpc":{"id":"45cc4713-9994-40b8-a049-35709b357d77","urn":"do:vpc:45cc4713-9994-40b8-a049-35709b357d77","name":"dolib-test-vpc","description":"","region":"fra1","ip_range":"10.114.0.0/20","created_at":"2021-05-30T19:06:59Z","default":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4989'
      Ratelimit-Reset:
      - '1622398036'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/vpcs/45cc4713-9994-40b8-a049-35709b357d77/members?per_page=200
  response:
    content: '{"members":[],"links":{},"meta":{"total":0}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4987'
      Ratelimit-Reset:
      - '1622398036'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/vpcs/45cc4713-9994-40b8-a049-35709b357d77
  response:
    content: ''
    headers:
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4987'
      Ratelimit-Reset:
      - '1622398158'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 204
version: 1
