interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/images?per_page=200
  response:
    content: "{\"images\":[{\"id\":69452245,\"name\":\"11.4 zfs x64\",\"distribution\":\"FreeBSD\",\"slug\":\"freebsd-11-x64-zfs\",\"public\":true,\"regions\":[\"nyc1\",\"sfo1\",\"nyc2\",\"ams2\",\"sgp1\",\"lon1\",\"nyc3\",\"ams3\",\"fra1\",\"tor1\",\"sfo2\",\"blr1\",\"sfo3\"],\"created_at\":\"2020-09-02T23:36:36Z\",\"min_disk_size\":15,\"type\":\"snapshot\",\"size_gigabytes\":20.97,\"description\":\"FreeBSD
      11.4 ZFS\",\"tags\":[],\"status\":\"available\",\"error_message\":\"\"},{\"id\":69500386,\"name\":\"11.4
      ufs x64\",\"distribution\":\"FreeBSD\",\"slug\":\"freebsd-11-x64-ufs\",\"public\":true,\"regions\":[\"nyc1\",\"sfo1\",\"nyc2\",\"ams2\",\"sgp1\",\"lon1\",\"nyc3\",\"ams3\",\"fra1\",\"tor1\",\"sfo2\",\"blr1\",\"sfo3\"],\"created_at\":\"2020-09-03T21:38:32Z\",\"min_disk_size\":15,\"type\":\"snapshot\",\"size_gigabytes\":20.97,\"description\":\"FreeBSD
      11.4 UFS\",\"tags\":[],\"status\":\"available\",\"error_message\":\"\"},{\"id\":72181180,\"name\"[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/images?page=2&per_page=200
  response:
    content: "{\"images\":[{\"id\":70850700,\"name\":\"Mailcoach 3.0 on Ubuntu 18.04\",\"distribution\":\"Ubuntu\",\"slug\":\"spatie-mailcoach-18-04\",\"public\":true,\"regions\":[\"nyc1\",\"sfo1\",\"nyc2\",\"ams2\",\"sgp1\",\"lon1\",\"nyc3\",\"ams3\",\"fra1\",\"tor1\",\"sfo2\",\"blr1\",\"sfo3\"],\"created_at\":\"2020-09[...]
- request:
    body: '{"name": "dolib-test-image", "region": "fra1", "url": "http://cloud-images.ubuntu.com/minimal/releases/bionic/release/ubuntu-18.04-minimal-cloudimg-amd64.img",
      "distribution": "Ubuntu", "tags": ["test"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/images
  response:
    content: '{"image":{"created_at":"2021-05-30T16:57:46Z","description":"","distribution":"Ubuntu","error_message":"","id":85028959,"name":"dolib-test-image","regions":[],"status":"NEW","tags":["test"],"type":"custom","updated_at":"2021-05-30T16:57:46Z"}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 202
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/images?private=true&type=custom&per_page=200
  response:
    content: '{"images":[{"id":41856563,"name":"fra1-front1-old-1546013722304","distribution":"Ubuntu","slug":null,"public":false,"regions":["ams2","fra1"],"created_at":"2018-12-28T16:15:51Z","min_disk_size":80,"type":"snapshot","size_gigabytes":6.45,"description":null,"tags":[],"status":"available","er[...]
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/images?private=true&type=custom&tag_name=test&per_page=200
  response:
    content: '{"images":[{"id":85028854,"name":"dolib-test-image","distribution":"Ubuntu","slug":null,"public":false,"regions":["fra1"],"created_at":"2021-05-30T16:53:52Z","min_disk_size":15,"type":"custom","size_gigabytes":0.17,"description":"","tags":["test"],"status":"available","error_message":""},{"id":85028858,"name":"dolib-test-image","distribution":"Ubuntu","slug":null,"public":false,"regions":["fra1"],"created_at":"2021-05-30T16:54:18Z","min_disk_size":15,"type":"custom","size_gigabytes":0.17,"description":"","tags":["test"],"status":"available","error_message":""},{"id":85028959,"name":"dolib-test-image","distribution":"Ubuntu","slug":null,"public":false,"regions":["fra1"],"created_at":"2021-05-30T16:57:46Z","min_disk_size":15,"type":"custom","size_gigabytes":0.17,"description":"","tags":["test"],"status":"available","error_message":""}],"links":{},"meta":{"total":3}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a9b6703fdded9a0c1ac283022066bfb"
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/images/85028959
  response:
    content: '{"image":{"id":85028959,"name":"dolib-test-image","distribution":"Ubuntu","slug":null,"public":false,"regions":["fra1"],"created_at":"2021-05-30T16:57:46Z","min_disk_size":15,"type":"custom","size_gigabytes":0.17,"description":"","tags":["test"],"status":"available","error_message":""}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"55c266b27e7d85c41f939bf0f86f7a3a"
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4996'
      ratelimit-reset:
      - '1622397722'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
[...]
- request:
    body: '{"type": "transfer", "region": "ams2"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/images/85028959/actions
  response:
    content: '{"action":{"id":1218217097,"status":"in-progress","type":"transfer","started_at":"2021-05-30T18:14:04Z","completed_at":null,"resource_id":85028959,"resource_type":"image","region":null,"region_slug":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1cec98854fb18fc186978a125410fde6"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4994'
      Ratelimit-Reset:
      - '1622397722'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 201
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/images/85028959/actions?per_page=200
  response:
    content: '{"actions":[{"id":1218217097,"status":"in-progress","type":"transfer","started_at":"2021-05-30T18:14:04Z","completed_at":null,"resource_id":85028959,"resource_type":"image","region":null,"region_slug":null}],"links":{},"meta":{"total":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac1ce010289c9f011ad9d68cac3116af"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4993'
      Ratelimit-Reset:
      - '1622397722'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/images/85028959/actions/1218217097
  response:
    content: '{"action":{"id":1218217097,"status":"completed","type":"transfer","started_at":"2021-05-30T18:14:04Z","completed_at":"2021-05-30T18:14:18Z","resource_id":85028959,"resource_type":"image","region":null,"region_slug":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"74b6f4cd0d4d99cc7ea89e947280281c"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4991'
      Ratelimit-Reset:
      - '1622397722'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/images/85028959
  response:
    content: ''
    headers:
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4990'
      ratelimit-reset:
      - '1622397722'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 204
version: 1
