interactions:
- request:
    body: '{"id": null, "name": "dolib-test-loadbalancer", "region": "fra1", "forwarding_rules":
      [{"entry_protocol": "tcp", "entry_port": 80, "target_protocol": "tcp", "target_port":
      8080, "certificate_id": null, "tls_passthrough": null}], "size": null, "ip":
      null, "algorithm": null, "status": null, "health_check": null, "sticky_sessions":
      null, "tag": null, "droplet_ids": null, "redirect_http_to_https": null, "enable_proxy_protocol":
      null, "enable_backend_keepalive": null, "vpc_uuid": null, "created_at": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/load_balancers
  response:
    content: '{"load_balancer":{"id":"21c3889a-b2e9-4000-b46e-923e5cf561b0","name":"dolib-test-loadbalancer","ip":"","size":"lb-small","algorithm":"round_robin","status":"new","created_at":"2021-05-31T14:47:47Z","forwarding_rules":[{"entry_protocol":"tcp","entry_port":80,"target_protocol":"tcp","target_port":8080,"certificate_id":"","tls_passthrough":false}],"health_check":{"protocol":"http","port":80,"path":"/","check_interval_seconds":10,"response_timeout_seconds":5,"healthy_threshold":5,"unhealthy_threshold":3},"sticky_sessions":{"type":"none"},"region":{"name":"Frankfurt
      1","slug":"fra1","features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"available":true,"sizes":["s-1vcpu-1gb","s-1vcpu-1gb-amd","s-1vcpu-1gb-intel","s-1vcpu-2gb","s-1vcpu-2gb-amd","s-1vcpu-2gb-intel","s-2vcpu-2gb","s-2vcpu-2gb-amd","s-2vcpu-2gb-intel","s-2vcpu-4gb","s-2vcpu-4gb-amd","s-2vcpu-4gb-intel","s-4vcpu-8gb","c-2","c2-2vcpu-4gb","s-4vcpu-8gb-amd","s-4vcpu-8gb-intel","g-2vcpu-8gb","gd-2vcpu-8gb","s-8vcpu-16gb","m-2vcpu-16gb","c-4","c2-4vcpu-8gb","s-8vcpu-16gb-amd","s-8vcpu-16gb-intel","m3-2vcpu-16gb","g-4vcpu-16gb","so-2vcpu-16gb","m6-2vcpu-16gb","gd-4vcpu-16gb","so1_5-2vcpu-16gb","m-4vcpu-32gb","c-8","c2-8vcpu-16gb","m3-4vcpu-32gb","g-8vcpu-32gb","so-4vcpu-32gb","m6-4vcpu-32gb","gd-8vcpu-32gb","so1_5-4vcpu-32gb","m-8vcpu-64gb","c-16","c2-16vcpu-32gb","m3-8vcpu-64gb","g-16vcpu-64gb","so-8vcpu-64gb","m6-8vcpu-64gb","gd-16vcpu-64gb","so1_5-8vcpu-64gb","m-16vcpu-128gb","c-32","c2-32vcpu-64gb","m3-16vcpu-128gb","m-24vcpu-192gb","g-32vcpu-128gb","so-16vcpu-128gb","m6-16vcpu-128gb","gd-32vcpu-128gb","m3-24vcpu-192gb","g-40vcpu-160gb","so1_5-16vcpu-128gb","m-32vcpu-256gb","gd-40vcpu-160gb","so-24vcpu-192gb","m6-24vcpu-192gb","m3-32vcpu-256gb","so1_5-24vcpu-192gb","so-32vcpu-256gb","m6-32vcpu-256gb","so1_5-32vcpu-256gb"]},"tag":"","droplet_ids":[],"redirect_http_to_https":false,"enable_proxy_protocol":false,"enable_backend_keepalive":false,"vpc_uuid":"b21d4ee5-5e72-4056-b6f2-82e364789990"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4997'
      Ratelimit-Reset:
      - '1622472258'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 202
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/load_balancers?per_page=200
  response:
    content: '{"load_balancers":[{"id":"21c3889a-b2e9-4000-b46e-923e5cf561b0","name":"dolib-test-loadbalancer","ip":"","size":"lb-small","algorithm":"round_robin","status":"new","created_at":"2021-05-31T14:47:47Z","forwarding_rules":[{"entry_protocol":"tcp","entry_port":80,"target_protocol":"tcp","target_port":8080,"certificate_id":"","tls_passthrough":false}],"health_check":{"protocol":"http","port":80,"path":"/","check_interval_seconds":10,"response_timeout_seconds":5,"healthy_threshold":5,"unhealthy_threshold":3},"sticky_se[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/load_balancers/21c3889a-b2e9-4000-b46e-923e5cf561b0
  response:
    content: '{"load_balancer":{"id":"21c3889a-b2e9-4000-b46e-923e5cf561b0","name":"dolib-test-loadbalancer","ip":"","size":"lb-small","algorithm":"round_robin","status":"new","created_at":"2021-05-31T14:47:47Z","forwarding_rules":[{"entry_protocol":"tcp","entry_port":80,"target_protocol":"tcp","[...]
- request:
    body: '{"name": "dolib-test-loadbalancer-renamed", "region": "fra1", "forwarding_rules":
      [{"entry_protocol": "tcp", "entry_port": 80, "target_protocol": "tcp", "target_port":
      8080, "certificate_id": "", "tls_passthrough": false}], "size": "lb-small",
      "algorithm": "round_robin", "health_check": {"protocol": "http", "port": 80,
      "path": "/", "check_interval_seconds": 10, "response_timeout_seconds": 5, "unhealthy_threshold":
      3, "healthy_threshold": 5}, "sticky_sessions": {"type": "none", "cookie_name":
      null, "cookie_ttl_seconds": null}, "tag": "", "droplet_ids": [], "redirect_http_to_https":
      false, "enable_proxy_protocol": false, "enable_backend_keepalive": false, "vpc_uuid":
      "b21d4ee5-5e72-4056-b6f2-82e364789990"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.digitalocean.com/v2/load_balancers/21c3889a-b2e9-4000-b46e-923e5cf561b0
  response:
    content: '{"load_balancer":{"id":"21c3889a-b2e9-4000-b46e-923e5cf561b0","name":"dolib-test-loadbalancer-renamed","[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/droplets?per_page=200
  response:
    content: '{"droplets":[{"id":248152601,"name":"dolib-droplet","memory":1024,"vcpus":1,"disk":25,"locked":false,"status":"new","kernel":null,"created_at":"2021-05-29T15:59:54Z","features":[],"backup_ids":[],"next_backup_window":null,"snapshot_ids":[],"image":{"id":84780421,"name":"18.04
      (LTS) x64","distribution":"Ubuntu","slug":"ubuntu-18-04-x64","public":true,"regions":["nyc3","nyc1","sfo1","nyc2","ams2","sgp1","lon1","ams3","fra1","tor1","sfo2","blr1","sfo3"],"created_at":"2021-05-26T15:31:29Z","min_disk_size":15,"type":"base","size_gigabytes":0.4,"description":"Ubuntu
      18.04 x86 image","tags":[],"status":"available"},"volume_ids":[],"size":{"slug":"s-1vcpu-1gb","memory":1024,"vcpus":1,"disk":25,"transfer":1.0,"price_monthly":5.0,"price_hourly":0.00744,"regions":["ams2","ams3","blr1","fra1","lon1","nyc1","nyc2","nyc3","sfo1","sfo3","sgp1","tor1"],"available":true,"description":"Basic"},"size_slug":"s-1vcpu-1gb","networks":{"v4":[],"v6":[]},"region":{"name":"Frankfurt
      1","slug":"fra1","features":["backups","ipv6","metadata","install_agent","storage","image_transfer"],"available":true,"sizes":["s-1vcpu-1gb","s-1vcpu-1gb-amd","s-1vcpu-1gb-intel","s-1vcpu-2gb","s-1vcpu-2gb-amd","s-1vcpu-2gb-intel","s-2vcpu-2gb","s-2vcpu-2gb-amd","s-2vcpu-2gb-intel","s-2vcpu-4gb","s-2vcpu-4gb-amd","s-2vcpu-4gb-intel","s-4vcpu-8gb","c-2","c2-2vcpu-4gb","s-4vcpu-8gb-amd","s-4vcpu-8gb-intel","g-2vcpu-8gb","gd-2vcpu-8gb","s-8vcpu-16gb","m-2vcpu-16gb","c-4","c2-4vcpu-8gb","s-8vcpu-16gb-amd","s-8vcpu-16gb-intel","m3-2vcpu-16gb","g-4vcpu-16gb","so-2vcpu-16gb","m6-2vcpu-16gb","gd-4vcpu-16gb","so1_5-2vcpu-16gb","m-4vcpu-32gb","c-8","c2-8vcpu-16gb","m3-4vcpu-32gb","g-8vcpu-32gb","so-4vcpu-32gb","m6-4vcpu-32gb","gd-8vcpu-32gb","so1_5-4vcpu-32gb","m-8vcpu-64gb","c-16","c2-16vcpu-32gb","m3-8vcpu-64gb","g-16vcpu-64gb","so-8vcpu-64gb","m6-8vcpu-64gb","gd-16vcpu-64gb","so1_5-8vcpu-64gb","m-16vcpu-128gb","c-32","c2-32vcpu-64gb","m3-16vcpu-128gb","m-24vcpu-192gb","g-32vcpu-128gb","so-16vcpu-128gb","m6-16vcpu-128gb","gd-32vcpu-128gb","m3-24vcpu-192gb","g-40vcpu-160gb","so1_5-16vcpu-128gb","m-32vcpu-256gb","gd-40vcpu-160gb","so-24vcpu-192gb","m6-24vcpu-192gb","m3-32vcpu-256gb","so1_5-24vcpu-192gb","so-32vcpu-256gb","m6-32vcpu-256gb","so1_5-32vcpu-256gb"]},"tags":[]}],"links":{},"meta":{"total":1}}

      '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4990'
      ratelimit-reset:
      - '1622472258'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status_code: 200
- request:
    body: '{"droplet_ids": [248152601]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/load_balancers/21c3889a-b2e9-4000-b46e-923e5cf561b0/droplets
  response:
    content: ''
    headers:
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4988'
      Ratelimit-Reset:
      - '1622472258'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 204
[...]
- request:
    body: '{"forwarding_rules": [{"entry_protocol": "tcp", "entry_port": 81, "target_protocol":
      "tcp", "target_port": 8081, "certificate_id": null, "tls_passthrough": null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/load_balancers/21c3889a-b2e9-4000-b46e-923e5cf561b0/forwarding_rules
  response:
    content: ''
    headers:
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4986'
      Ratelimit-Reset:
      - '1622472258'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 204
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/load_balancers/21c3889a-b2e9-4000-b46e-923e5cf561b0
  response:
    content: ''
    headers:
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4983'
      Ratelimit-Reset:
      - '1622472258'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    status_code: 204
version: 1
